{% if customer %}
<meta content="0; url=/account" http-equiv="refresh" />
{% else %}
<article class="site-page" data-template-page data-template-contact>
    <header class="page-masthead ">
        <div class="page-content">
            <h1 class="page-title text-left register-title">
            Spacelabs Account Request
            </h1>
        </div>
    </header>
      <form method="post" action="/contact#contact_form" id="contact_register" accept-charset="UTF-8" class="contact-form">
        <input type="hidden" name="form_type" value="contact">
        <input type="hidden" name="utf8" value="✓">
    <div class="contact-page-content">
        {% assign has_message = false %} {% if form.errors != blank %} {% assign has_message = true %} {% assign message_type = 'error' %} {% endif %} {% if form.posted_successfully? %} {% assign has_message = true %} {% assign message_type = 'success' %} {% endif %} {% if has_message %}
        <div class="contact-message message--{{ message_type }}">
            {% case message_type %} {% when 'success' %}
            <p>
                {{ 'contact.form.post_success' | t }}
            </p>
            {% when 'error' %} {{ form.errors | default_errors }} {% endcase %}
        </div>
        {% endif %}
        <div id="form-tracker-box">
            <div id="form-progress-box">
                <div id="progress-background">
                    <div id="progress"></div>
                </div>
            </div>
            <div class="fa-3x icon-stack-box text-left">
                <div>
                    <span class="fa-layers fa-fw register-layers">
                        <i id="step1" class="fas fa-circle"></i>
                        <i class="fa-inverse fas fa-check" data-fa-transform="shrink-7"></i>
                    </span>
                </div>
            </div>
            <div class="fa-3x icon-stack-box text-left" >
                <div class="icon-middle-left">
                    <span class="fa-layers fa-fw register-layers" >
                        <i id="step2" class="fas fa-circle "></i>
                        <i class="fa-inverse fas fa-check" data-fa-transform="shrink-7"></i>
                    </span>
                </div>
            </div>
            <div class="fa-3x icon-stack-box text-right">
                <div class="icon-middle-right">
                    <span class="fa-layers fa-fw register-layers"> 
                        <i id="step3" class="fas fa-circle"></i>
                        <i class="fa-inverse fas fa-check" data-fa-transform="shrink-7"></i>
                    </span>
                </div>
            </div>
            <div class="fa-3x icon-stack-box text-right">
                <div>
                    <span class="fa-layers fa-fw register-layers" >
                        <i id="step4" class="fas fa-circle"></i>
                        <i class="fa-inverse fas fa-check"  data-fa-transform="shrink-7"></i>
                    </span>
                </div>
            </div>
        </div>
        <fieldset id="section1">
            <div class="form-title-box">
                <h3>General Information</h3>
                <p>* indicates a required field</p>
            </div>
            <div class="form-field register-hidden">
                <input class="form-field-input form-field-text" id="customer_id" value="ERROR 999-999999" name="contact[ShopifyCustomerNumber]" type="text">
            </div>
            <div class="form-fields-columns">
                <div class="form-field form-field--half">
                    <input class="form-field-input form-field-text" id="contact_name" name="contact[Firstname]" type="text">
                    <label class="form-field-title" for="contact_name">
                        First Name *
                    </label>
                </div>
                <div class="form-field form-field--half">
                    <input class="form-field-input form-field-text" id="contact_lastname" name="contact[Lastname]" type="text">
                    <label class="form-field-title" for="contact_lastname">
                        Last Name *
                    </label>
                </div>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_email" name="contact[email]" type="email" autocorrect="off" autocapitalize="off">
                <label class="form-field-title" for="contact_email">
                    Email Address *
                </label>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_phone" name="contact[Phone]" type="tel">
                <label class="form-field-title" for="contact_phone">
                    Phone Number *
                </label>
            </div>
            <div class="form-field">
                <select id="registerOccupation" name="contact[Occupation]" class="form-field-input form-field-text">
                    <option class="register-hidden"></option>
                    <option>Administrator</option>
                    <option>Administrator, Assistant</option>
                    <option>Biomed Manager</option>
                    <option>Buyer / Purchaser</option>
                    <option>Central Supply, Director/Manager</option>
                    <option>Chief Executive Officer</option>
                    <option>Chief Financial Officer</option>
                    <option>Chief Medical Officer</option>
                    <option>Chief Nursing Officer</option>
                    <option>Chief Operating Officer</option>
                    <option>Clinical Services</option>
                    <option>Director of Infection Control</option>
                    <option>Director of Nursing</option>
                    <option>Director of Nursing, Assistant</option>
                    <option>Education / Training / Staff development</option>
                    <option>Emergency Medical Services</option>
                    <option>Environmental Services, Director/Manager</option>
                    <option>Executive Director</option>
                    <option>Infection Prevention</option>
                    <option>Information Systems/Technology</option>
                    <option>Material Manager</option>
                    <option>Materials Manager</option>
                    <option>Nurse</option>
                    <option>Office Manager</option>
                    <option>Operating Room, Director/Manager</option>
                    <option>Other</option>
                    <option>Physician/Doctor/Surgeon</option>
                    <option>Safety/Risk Management/Quality Assurance</option>
                    <option>Supply Chain</option>
                    <option>Surgical Services, Director/Manager</option>
                    <option>Therapy/Rehab</option>
                    <option>Vice President</option>
                </select>
                <label class="form-field-title" for="registerOccupation">
                    Select Occupation *
                </label>
            </div>
            <div class="form-field">
                <select id="registerBusiness" name="contact[BusinessType]" class="form-field-input form-field-text" required>
                    <option class="register-hidden"></option>
                    <option>Animal Health</option>
                    <option>Assisted Living</option>
                    <option>DME/HME Dealer</option>
                    <option>Dental Office</option>
                    <option>Dialysis Center</option>
                    <option>Emergency Medical Services (EMS)</option>
                    <option>Federal, County, or State Facility</option>
                    <option>Home Health Agency</option>
                    <option>Hospice</option>
                    <option>Hospital</option>
                    <option>Insurance Carrier</option>
                    <option>Internet</option>
                    <option>Laundry</option>
                    <option>Nursing Home</option>
                    <option>Pharmacy</option>
                    <option>Physical Therapy</option>
                    <option>Physician Office</option>
                    <option>Podiatry</option>
                    <option>Surgery Center</option>
                    <option>Other</option>
                </select>
                <label class="form-field-title" for="registerBusiness">
                    Type of Business *
                </label>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_sales" name="contact[SalesRepresentative]" type="text">
                <label class="form-field-title" for="contact_sales">
                    Sales Representative Name
                </label>
            </div>
            <div class="form-action-row text-right">
                <button class="button-primary contact-form-button next" type="button">
                    Next
                </button>
            </div>
        </fieldset>
        <fieldset id="section2">
            <div class="form-title-box">
                <h3>Billing Information</h3>
                <p>* indicates a required field</p>
            </div>
            <div class="form-field register-hidden">
                <input class="form-field-input form-field-text" id="billing_id" value="ERROR 999-999999" name="contact[ShopifyBillingAddressNumber]" type="text">
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_billing_name" name="contact[BillingName]" type="text">
                <label class="form-field-title" for="contact_billing_name">
                    Legal Business Name *
                </label>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_billing_address" name="contact[BillingAddress]" type="text">
                <label class="form-field-title" for="contact_billing_address">
                    Billing Address *
                </label>
            </div>
            <div class="form-fields-columns address-fields-box">
                <div class="form-field address-fields-city">
                    <input class="form-field-input form-field-text" id="contact_billing_city" name="contact[BillingAddressCity]" type="text">
                    <label class="form-field-title" for="contact_billing_city">
                        City *
                    </label>
                </div>
                <div class="form-field address-fields-state">
                    <select id="contact_billing_state" name="contact[BillingAddressState]" class="form-field-input form-field-text" style="min-width: 100px;" value=" ">
                        <option class="register-hidden"></option>
                        <option value="AL">AL</option>
                        <option value="AK">AK</option>
                        <option value="AR">AR</option>
                        <option value="AZ">AZ</option>
                        <option value="CA">CA</option>
                        <option value="CO">CO</option>
                        <option value="CT">CT</option>
                        <option value="DC">DC</option>
                        <option value="DE">DE</option>
                        <option value="FL">FL</option>
                        <option value="GA">GA</option>
                        <option value="HI">HI</option>
                        <option value="IA">IA</option>
                        <option value="ID">ID</option>
                        <option value="IL">IL</option>
                        <option value="IN">IN</option>
                        <option value="KS">KS</option>
                        <option value="KY">KY</option>
                        <option value="LA">LA</option>
                        <option value="MA">MA</option>
                        <option value="MD">MD</option>
                        <option value="ME">ME</option>
                        <option value="MI">MI</option>
                        <option value="MN">MN</option>
                        <option value="MO">MO</option>
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="NC">NC</option>
                        <option value="NE">NE</option>
                        <option value="NH">NH</option>
                        <option value="NJ">NJ</option>
                        <option value="NM">NM</option>
                        <option value="NV">NV</option>
                        <option value="NY">NY</option>
                        <option value="ND">ND</option>
                        <option value="OH">OH</option>
                        <option value="OK">OK</option>
                        <option value="OR">OR</option>
                        <option value="PA">PA</option>
                        <option value="RI">RI</option>
                        <option value="SC">SC</option>
                        <option value="SD">SD</option>
                        <option value="TN">TN</option>
                        <option value="TX">TX</option>
                        <option value="UT">UT</option>
                        <option value="VT">VT</option>
                        <option value="VA">VA</option>
                        <option value="WA">WA</option>
                        <option value="WI">WI</option>
                        <option value="WV">WV</option>
                        <option value="WY">WY</option>
                    </select>
                    <label class="form-field-title" for="contact_billing_state">
                        State *
                    </label>
                </div>
                <div class="form-field address-fields-zip">
                    <input class="form-field-input form-field-text" id="contact_billing_zip" name="contact[BillingAddressZip]" type="text">
                    <label class="form-field-title" for="contact_billing_zip">
                        Zipcode *
                    </label>
                </div>
            </div>
            <div class="form-fields-columns">
                <div class="form-field form-field--half">
                    <select id="contact_billing_entity" name="contact[BillingEntity]" class="form-field-input form-field-text">
                        <option class="register-hidden"></option>
                        <option>Corporation</option>
                        <option>Partnership</option>
                        <option>Sole Proprietor</option>
                    </select>
                    <label class="form-field-title" for="contact_billing_entity">
                        Business Entity
                    </label>
                </div>
                <div class="form-field form-field--half">
                    <input class="form-field-input form-field-text" id="contact_billing_year" name="contact[YearBusinessStarted]" type="text">
                    <label class="form-field-title" for="contact_billing_year">
                        Year Business Started
                    </label>
                </div>
            </div>
            <div class="form-field">
                <div class="form-field">
                     <input class="form-field-input form-field-text" id="contact_employee_count" name="contact[EmployeeNumber]" type="text">
                    <label class="form-field-title" for="contact_employee_count">
                        Number of Employees
                    </label>
                </div>
            </div>
            <div class="form-field"> 
                <div class="form-field">
                    <input class="form-field-input form-field-text" id="contact_dun_number" name="contact[DunBradstreetNumber]" type="text">
                    <label class="form-field-title" for="contact_dun_number">
                        DUNS Number
                    </label>
                </div>
            </div>
            <div class="form-fields-columns">
                <div class="form-field form-field--half">
                    <input class="form-field-input form-field-text" id="contact_billing_fed" name="contact[FederalIdentificationNumber]" type="text">
                    <label class="form-field-title" for="contact_billing_fed">
                        Federal Identification Number
                    </label>
                </div>
                <div class="form-field form-field--half">
                    <select id="state_incorporation" name="contact[StateOfIncorporation]" class="form-field-input form-field-text">
                        <option class="register-hidden"></option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                    <label class="form-field-title" for="state_incorporation">
                        State of Incorporation
                    </label>
                </div>
            </div>
            <div class="form-field">
                <select id="contact_export_products" name="contact[ExportSpacelabsProducts]" class="form-field-input form-field-text">
                    <option class="register-hidden"></option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
                <label class="form-field-title" for="contact_export_products">
                   Do you export Spacelabs product outside of US? *
                </label>
            </div>
            <div class="form-field">
                <select id="contact_export_taxable" name="contact[ExportProductsTaxable]" class="form-field-input form-field-text">
                    <option class="register-hidden"></option>
                    <option>Yes</option>
                    <option>No - If no please contact customer service to provide exemption certificate.</option>
                </select>
                <label class="form-field-title" for="contact_export_taxable">
                   Are these products taxable? *
                </label>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_billing_fullname" name="contact[BillingContactName]" type="text">
                <label class="form-field-title" for="contact_billing_fullname">
                    Billing Contact Name *
                </label>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_billing_number" name="contact[BillingContactNumber]" type="tel">
                <label class="form-field-title" for="contact_billing_number">
                    Billing Contact Phone Number *
                </label>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_billing_email" name="contact[BillingContactEmail]" type="text">
                <label class="form-field-title" for="contact_billing_email">
                    Billing Contact Email Address *
                </label>
            </div>
            <div class="form-action-row">
                <div class="form-fields-columns">
                    <div class="form-field form-field--half-fixed">
                        <button class="button-primary contact-form-button" type="button" onclick="registerFormPrevious();">
                            Back
                        </button>
                    </div>
                    <div class="form-field form-field--half-fixed text-right">
                        <button class="button-primary contact-form-button next" type="button">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset id="section3">
            <div class="form-title-box">
                <h3>Facility Address</h3>
                <p>* indicates a required field</p>
            </div>
            <div class="form-field register-hidden">
                <input class="form-field-input form-field-text" id="facility_id" value="ERROR 999-999999" name="contact[ShopifyFacilityAddressNumber]" type="text">
            </div>
            <div class="form-field form-field--half">
                <input id="facility_same_as_billing" name="contact[FacilitySameAsBilling]" type="checkbox">
                <span class="form-field-title--inline">
                    Same as Billing Information
                </span>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_facility_name" name="contact[FacilityName]" type="text" value=" ">
                <label class="form-field-title" for="contact_facility_name">
                    Facility Name *
                </label>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_facility_address" name="contact[FacilityAddress]" type="text" value=" ">
                <label class="form-field-title" for="contact_facility_address">
                    Facility Address *
                </label>
            </div>
            <div class="form-fields-columns address-fields-box">
                <div class="form-field address-fields-city">
                    <input class="form-field-input form-field-text" id="contact_facility_city" name="contact[FacilityAddressCity]" type="text" value=" ">
                    <label class="form-field-title" for="contact_facility_city">
                        City *
                    </label>
                </div>
                <div class="form-field address-fields-state">
                    <select id="contact_facility_state" name="contact[FacilityAddressState]" style="min-width: 100px;" class="form-field-input form-field-text">
                        <option class="register-hidden" value=" "></option>
                        <option value="AL">AL</option>
                        <option value="AK">AK</option>
                        <option value="AR">AR</option>
                        <option value="AZ">AZ</option>
                        <option value="CA">CA</option>
                        <option value="CO">CO</option>
                        <option value="CT">CT</option>
                        <option value="DC">DC</option>
                        <option value="DE">DE</option>
                        <option value="FL">FL</option>
                        <option value="GA">GA</option>
                        <option value="HI">HI</option>
                        <option value="IA">IA</option>
                        <option value="ID">ID</option>
                        <option value="IL">IL</option>
                        <option value="IN">IN</option>
                        <option value="KS">KS</option>
                        <option value="KY">KY</option>
                        <option value="LA">LA</option>
                        <option value="MA">MA</option>
                        <option value="MD">MD</option>
                        <option value="ME">ME</option>
                        <option value="MI">MI</option>
                        <option value="MN">MN</option>
                        <option value="MO">MO</option>
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="NC">NC</option>
                        <option value="NE">NE</option>
                        <option value="NH">NH</option>
                        <option value="NJ">NJ</option>
                        <option value="NM">NM</option>
                        <option value="NV">NV</option>
                        <option value="NY">NY</option>
                        <option value="ND">ND</option>
                        <option value="OH">OH</option>
                        <option value="OK">OK</option>
                        <option value="OR">OR</option>
                        <option value="PA">PA</option>
                        <option value="RI">RI</option>
                        <option value="SC">SC</option>
                        <option value="SD">SD</option>
                        <option value="TN">TN</option>
                        <option value="TX">TX</option>
                        <option value="UT">UT</option>
                        <option value="VT">VT</option>
                        <option value="VA">VA</option>
                        <option value="WA">WA</option>
                        <option value="WI">WI</option>
                        <option value="WV">WV</option>
                        <option value="WY">WY</option>
                    </select>
                    <label class="form-field-title" for="contact_facility_state">
                        State *
                    </label>
                </div>
                <div class="form-field address-fields-zip">
                    <input class="form-field-input form-field-text" id="contact_facility_zip" name="contact[FacilityAddressZip]" type="text" value=" ">
                    <label class="form-field-title" for="contact_facility_zip">
                        Zipcode *
                    </label>
                </div>
            </div>
            <div class="form-field">
                <select id="contact_facility_hospital" onchange="hospitalTrigger(this.value)" name="contact[FacilityHospital]" class="form-field-input form-field-text">
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                </select>
                <label class="form-field-title" for="contact_facility_hospital">
                    Is your facility a Hospital?
                </label>
            </div>
            {% comment %} <div class="form-field hospital-questions">
                <input class="form-field-input form-field-text" id="contact_facility_HIN" name="contact[HealthIndustryNumber]" type="text" value=" ">
                <label class="form-field-title" for="contact_facility_HIN">
                    Hospital Health Industry Number 
                </label>
            </div>
            <div class="form-field hospital-questions">
                <input class="form-field-input form-field-text" id="contact_facility_GLN" name="contact[GlobalLocationNumber]" type="text" value=" ">
                <label class="form-field-title" for="contact_facility_GLN">
                    Hospital Global Location Number
                </label>
            </div>
            <div class="form-field hospital-questions">
                <select id="contact_facility_anesthesia" name="contact[FacilityAnesthesia]" class="form-field-input form-field-text">
                    <option>No</option>
                    <option>Yes</option>
                </select>
                <label class="form-field-title" for="contact_facility_anesthesia">
                    Does your facility use inhaled anesthesia?
                </label>
            </div> {% endcomment %}
            <div class="form-field hospital-questions">
                <input class="form-field-input form-field-text" id="contact_facility_beds" name="contact[FacilityHospitalBeds]" type="text" value=" ">
                <label class="form-field-title" for="contact_facility_beds">
                    Number of Hospital Beds
                </label>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_facility_fullname" name="contact[FacilityContactFullName]" type="text" value=" ">
                <label class="form-field-title" for="contact_facility_fullname">
                    Facility Contact Name
                </label>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_facility_number" name="contact[FacilityContactNumber]" type="tel" value=" ">
                <label class="form-field-title" for="contact_facility_number">
                    Facility Contact Phone Number
                </label>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_facility_email" name="contact[FacilityContactEmail]" type="text" onfocus="if(this.value == ' ') { this.value = ''; }" value=" ">
                <label class="form-field-title" for="contact_facility_email">
                    Facility Contact Email Address
                </label>
            </div>
            <div class="form-action-row">
                <div class="form-fields-columns">
                    <div class="form-field form-field--half-fixed">
                        <button class="button-primary contact-form-button" type="button" onclick="registerFormPrevious();">
                            Back
                        </button>
                    </div>
                    <div class="form-field form-field--half-fixed text-right">
                        <button class="button-primary contact-form-button next" type="button">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset id="section4">
            <div class="form-title-box">
                <h3>Shipping Address</h3>
                <p>* indicates a required field</p>
            </div>
            <div class="form-field register-hidden">
                <input class="form-field-input form-field-text" id="shipping_id" value="ERROR 999-999999" name="contact[ShopifyShippingAddressNumber]" type="text">
            </div>
            <div class="form-field form-field--half">
                <input id="shipping_same_as_billing" name="contact[ShippingSameAsBilling]" type="checkbox">
                <span class="form-field-title--inline">
                    Same as Billing Information
                </span>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_shipping_name" name="contact[ShippingName]" type="text" value=" ">
                <label class="form-field-title" for="contact_shipping_name">
                    Shipping Name *
                </label>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_shipping_address" name="contact[ShippingAddress]" type="text" value=" ">
                <label class="form-field-title" for="contact_shipping_address">
                    Physical Shipping Address * ( No P.O. Boxes )
                </label>
            </div>
            <div class="form-fields-columns address-fields-box">
                <div class="form-field address-fields-city">
                    <input class="form-field-input form-field-text" id="contact_shipping_city" name="contact[ShippingAddressCity]" type="text" value=" ">
                    <label class="form-field-title" for="contact_shipping_city">
                        City *
                    </label>
                </div>
                <div class="form-field address-fields-state">
                    <select id="contact_shipping_state" name="contact[ShippingAddressState]" style="min-width: 100px;" class="form-field-input form-field-text">
                    <option class="register-hidden" value=" "></option>
                        <option value="AL">AL</option>
                        <option value="AK">AK</option>
                        <option value="AR">AR</option>
                        <option value="AZ">AZ</option>
                        <option value="CA">CA</option>
                        <option value="CO">CO</option>
                        <option value="CT">CT</option>
                        <option value="DC">DC</option>
                        <option value="DE">DE</option>
                        <option value="FL">FL</option>
                        <option value="GA">GA</option>
                        <option value="HI">HI</option>
                        <option value="IA">IA</option>
                        <option value="ID">ID</option>
                        <option value="IL">IL</option>
                        <option value="IN">IN</option>
                        <option value="KS">KS</option>
                        <option value="KY">KY</option>
                        <option value="LA">LA</option>
                        <option value="MA">MA</option>
                        <option value="MD">MD</option>
                        <option value="ME">ME</option>
                        <option value="MI">MI</option>
                        <option value="MN">MN</option>
                        <option value="MO">MO</option>
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="NC">NC</option>
                        <option value="NE">NE</option>
                        <option value="NH">NH</option>
                        <option value="NJ">NJ</option>
                        <option value="NM">NM</option>
                        <option value="NV">NV</option>
                        <option value="NY">NY</option>
                        <option value="ND">ND</option>
                        <option value="OH">OH</option>
                        <option value="OK">OK</option>
                        <option value="OR">OR</option>
                        <option value="PA">PA</option>
                        <option value="RI">RI</option>
                        <option value="SC">SC</option>
                        <option value="SD">SD</option>
                        <option value="TN">TN</option>
                        <option value="TX">TX</option>
                        <option value="UT">UT</option>
                        <option value="VT">VT</option>
                        <option value="VA">VA</option>
                        <option value="WA">WA</option>
                        <option value="WI">WI</option>
                        <option value="WV">WV</option>
                        <option value="WY">WY</option>
                    </select>
                    <label class="form-field-title" for="contact_shipping_state">
                        State *
                    </label>
                </div>
                <div class="form-field address-fields-zip">
                    <input class="form-field-input form-field-text" id="contact_shipping_zip" name="contact[ShippingAddressZip]" type="text" value=" ">
                    <label class="form-field-title" for="contact_shipping_zip">
                        Zipcode *
                    </label>
                </div>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_shipping_fullname" name="contact[ShippingContactFullName]" type="text" value=" ">
                <label class="form-field-title" for="contact_shipping_fullname">
                    Shipping Contact Name
                </label>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_shipping_number" name="contact[ShippingContactNumber]" type="tel" value=" ">
                <label class="form-field-title" for="contact_shipping_number">
                    Shipping Contact Phone Number
                </label>
            </div>
            <div class="form-field">
                <input class="form-field-input form-field-text" id="contact_shipping_email" name="contact[ShippingContactEmail]" type="text" onfocus="if(this.value == ' ') { this.value = ''; }" value=" ">
                <label class="form-field-title" for="contact_shipping_email">
                    Shipping Contact Email Address
                </label>
            </div>
            <div class="form-action-row">
                <div class="form-fields-columns">
                    <div class="form-field form-field--half-fixed">
                        <button class="button-primary contact-form-button" type="button" onclick="registerFormPrevious();">
                            Back
                        </button>
                    </div>
                    <div class="form-field form-field--half-fixed text-right">
                        <button class="button-primary contact-form-button next" type="button">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset id="section5">
            <div class="form-title-box">
                <h3>Registration Acknowledgment</h3>
            </div>
            <div class="form-field terms-text">
                <p>Products and services shall be provided to applicant subject to the terms of any contract between Spacelabs Healthcare and
                Customer applicable to the products and services. If there is no such contract in place, the products and services shall be provided
                to applicant subject to Spacelabs Healthcare’s standard Terms of Sale available upon request and on the <a href="https://www.spacelabshealthcare.com/about-us/terms-policies" class="terms-link">Terms &amp; Conditions</a>
                page of our website. The Terms of Sale are incorporated herein by this reference.</p>
            </div>
            <div id="acknowledgment" class="form-field">
                <input id="terms" name="contact[TermsAcknowledgment]" type="checkbox">
                <span class="form-field-title--inline">
                    I acknowledged and agree to the above terms
                </span>
            </div>
            <div class="form-action-row">
                <div class="form-fields-columns">
                    <div class="form-field form-field--half-fixed">
                        <button class="button-primary contact-form-button" type="button" onclick="registerFormPrevious();">
                            Back
                        </button>
                    </div>
                    <div class="form-field form-field--half-fixed text-right">
                        <button class="button-primary contact-form-button next" type="submit">
                            Send
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    </form>
    <div class="contact-page-content register-contact-info">
        <p>If you would like to complete the application process manually please send a completed <a href="https://cdn.shopify.com/s/files/1/2777/7236/files/Account_Request_Form.pdf?14751337191092706148" class="register-raw-form" download>account request form</a> via fax 425-396-3301.</p>
        <p>If you have any questions please contact our customer service at 425-396-3300 Monday - Friday 8am - 5pm PST.</p>
    </div>
</article> 
{% endif %}
