<div id="modal-cart-error" class="hidden-modal" style="z-index: 1000 !important;">
    <div class="modal-login-box">
        <button class="atc-banner--close modal-close-box" type="button" aria-label="{{ 'general.accessibility.close' | t }}"  modal="modal-cart-error" onclick="closeModal(this, true);">
      {%- include 'icon-menu-close' -%}
    </button>
        <section class="account-page-login">
            <header class="account-page-masthead modal-header-login">
                <img class="modal-image-login" src="{{ "spacelabs-logo.png" | asset_url }}">
            </header>
            <article class="account-page-content modal-content-login">
                <p class="rte">Please add products to your cart before viewing the cart page. If you think this is an error please contact customer service at (425) 396-3300.</p>
                <div class="form-action-row modal-close-button">
                    <button class="button-primary modal-button-login" modal="modal-cart-error" onclick="closeModal(this, true);">
                        Close
                    </button>
                </div>
            </article>
        </section>
    </div>
</div>