<p id="cookie_message" style="z-index:99999;">
<span>We use cookies to personalize content, to provide social media features, and to analyse our traffic. We also share information about your use of our site with our social media and analytics partners.</span><button type="button" onclick="cookiesModal()" class="button-cookie">Accept Cookies</button><a class="cookie-policy" href="https://www.spacelabshealthcare.com/cookies" target="_blank"><span>Read Cookie Policy</span></a>
</p>