<div id="modal-success-contact" class="hidden-modal" style="z-index: 1000 !important;">
    <div class="modal-login-box">
        <button class="atc-banner--close modal-close-box" type="button" aria-label="{{ 'general.accessibility.close' | t }}"  modal="modal-success-contact" onclick="closeModal(this, true);">
      {%- include 'icon-menu-close' -%}
    </button>
        <section class="account-page-login"> 
            <header class="account-page-masthead modal-header-login">
                <img class="modal-image-login" src="{{ "spacelabs-logo.png" | asset_url }}">
            </header>
            <article class="account-page-content modal-content-login">
                <h3 class="error-title">Your form was sent successfully!</h3>
                <div class="account-login visible" >
                    <p class="rte">Thank you for contacting Spacelabs Healthcare. If you have any questions or concerns that need immediate assistance please email slcustomerservice@spacelabs.com (slcustomerservice@spacelabs.com) or call 1-800-522-7025 (Option 1).</p>
                </div>
                <div class="form-action-row modal-close-button">
                    <a href="/" style="width: 100%;">
                        <button class="button-primary modal-button-login" modal="modal-success-contact">
                            Close
                        </button>
                    </a>
                </div>
            </article>
        </section>
    </div>
</div>

