<div class="modal" data-modal-container>
  <div class="modal-inner modal-product-inner" data-modal-inner>
    <button
      class="modal-close"
      type="button"
      aria-label="{{ 'general.accessibility.close' | t }}"
      data-modal-close
    >
    <i class="fas fa-times fa-lg modal-close-icon"></i>
    </button>
    <div class="modal-content" data-modal-content></div>
  </div>
</div>