<p id="shipping_message">
Spacelabs is currently accepting online orders shipping to the United States. Please call 1-888-2232 for all international orders.
<i id="message_close" class="fas fa-times-circle fa-lg" onclick="shippingClose();"></i></p>