<p id="shipping_message">
Spacelabs Healthcare is only accepting online orders shipping to the United States. Please call customer service at 1-800-522-7025 (Option 1) for all international orders.
<i id="message_close" class="fas fa-times-circle fa-lg" onclick="shippingClose();"></i></p> 