<p id="shipping_message">
Spacelabs Healthcare is only accepting online orders shipping to the United States. Please call 425-396-3300 for all international orders.
<i id="message_close" class="fas fa-times-circle fa-lg" onclick="shippingClose();"></i></p>